@import '../../index.scss';

.card {
  max-width: 25em;

  &-title {

    @include media-breakpoint-down(sm) {
      font-size: x-small;
    }

  }

  &-subtitle {

    @include media-breakpoint-down(sm) {
      font-size: x-small;
    }

  }

  &-body {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &-text {
    @include media-breakpoint-down(lg) {
      font-size: medium;
    }

    @include media-breakpoint-down(md) {
      font-size: x-small;
    }

    @include media-breakpoint-down(sm) {
      font-size: xx-small;
    }
  }
}

.card-left {
  margin: 0 0 0 auto;
}

.card-right {
  margin: 0;
}
