@import '../../index.scss';

.timeline-date {
  display: flex;
  flex-direction: row;

  @include media-breakpoint-down(sm) {
    font-size: x-small !important;
  }

  &-startDate-right {
    margin: 0 0 0 auto;
  }

  &-divider-right {
    margin: 0 .5em;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &-endDate-right {
    
  }

  &-startDate-left {
    margin: 0;
  }

  &-divider-left {
    margin: 0 .5em;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &-endDate-left {

  }

  @include media-breakpoint-down(md) {
    font-size: small;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.primary {
  color: $primary-red !important;
  background-color: $primary-red !important;
  border-color: $primary-red !important;
}

@include media-breakpoint-down(sm) {
  .timeline-date-startDate-right {
    margin: 0;
  }
}