@import '../../index.scss';

.homepage {
  display: grid;
  grid-template-rows: 9fr 1fr;
  margin-top: -20px;

  &-content {
    display: grid;
    grid-template-columns: 40% 60%;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 100%;
    }

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2em 0 6em;

      @include media-breakpoint-down(lg) {
        padding: 0 6em;
      }

      @include media-breakpoint-down(md) {
        padding: 0 4em;
      }

      @include media-breakpoint-down(sm) {
        padding: 0 2em;
      }

      .title {
        color: $primary-red;
        font-weight: 900;

        @include media-breakpoint-down(md) {
          font-weight: 500;
        }
      }

      .motto {
        color: $primary-red;
        font-size: small;
        font-weight: 500;
        margin: -1em 0 0 0;
        padding: 0 0 0 .2em;

        @include media-breakpoint-down(md) {
          font-weight: 200;
        }
      }

      .description {

        &-text {
          font-weight: 300;
        }

        .button-group {
          display: flex;
          flex-direction: row;

          .btn {

            &-project {
              margin: 0 .5em 0 0;
              padding: .6em 2em;
            }

            &-team {
              margin: 0 .5em 0 0;
              padding: .6em 2em;
            }
          }
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 4em;

      .homepage-content-image {
        background-image: url('../../assets/images/mitchell-luo-z1c9juteR5c-unsplash.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50em 0 0 50em;
        min-height: 35em;
        min-width: auto;

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }

  &-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &-left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 0 4em;

      @include media-breakpoint-down(lg) {
        padding: 0 .5em;
      }

      @include media-breakpoint-down(md) {
        align-items: center;
        padding: 0 .1em;
      }

      .section-symbol > svg {
        min-height: 25px;
        min-width: 25px;

        @include media-breakpoint-down(sm) {
          min-height: 20px;
          min-width: 20px;
        }
      }
    }

    &-center {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 4em;

      @include media-breakpoint-down(lg) {
        padding: 0 .1em;
      }

      @include media-breakpoint-down(md) {
        align-items: center;
        flex-direction: column;
        font-size: small;
      }
    }

    &-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 4em;

      @include media-breakpoint-down(lg) {
        padding: 0 .5em;
      }

      @include media-breakpoint-down(md) {
        align-items: center;
        padding: 0 .1em;
      }

      .footer-gitlab-icon > svg {
        min-height: 25px;
        min-width: 25px;

        @include media-breakpoint-down(sm) {
          min-height: 20px;
          min-width: 20px;
        }
      }
    }

    .footer-copyright-icon {
      margin: 0 .2em;
    }

    .footer-current-year {
      margin: 0 .2em;
      padding: 1px 0 0 0;
    }

    .footer-team-name {
      margin: 0 .5em;
      padding: 1px 0 0 0;
    }
  }
}
